body{
    background-color: #eee;

}
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width:1200px ;
    background-color: skyblue;
    margin:0 auto;
}
.profile-image{
    width: 100px;
    height: 120px;
    border: solid 3px white;
    border-radius:50% ;
    padding: 20px;
    float: left;
}
.header-bio{
    float: left;
    padding: 30px;
   
}
h1,h2,h3,h4,h5,h6{
    color: olivedrab;
}
.header-contact{
    float: right;
    padding: 30px;

}
.header-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;

}
.header-contact a:hover{
  color: tomato;

}
.div-clear{
    clear: both;
}
hr{
    border: solid black 3px;
    width: 100%;
    margin:20px  auto ;
    border-bottom: none;

   
}
/*-----personal section start-----*/
 
.left-div{
    width:30%;
    float:left;
   
}
.rigt-div{
    width:70%;
    float:right;
}
.common-hr{
    border: solid 1px black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
} 
.edu-template-left{
    float: left;
    width: 45%;
}
edu-template-right{
    float: right;
    width: 45%;
}
.honor-left{
    float: left;
}
.honor-right{
    float: right;
}
.bottom-container{
    background-color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: orange;
    
}
.bottom-container a {
    color: white;
    text-decoration: none;
    margin: 20px;
}
.bottom-container p {
    margin-top: 20px;
}
